
/*Variable colors for entire page*/
:root {
    --primary: hsl(0, 0%, 0%);
    --secondary: #3f3f3f;
    --tertiary: rgb(253,253,253);
    --lighter: rgb(179,65,255);
    font-size: 63%;
}
body {
    background: var(--tertiary);
    color: var(grey);
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    padding: 30px 35px;
    border-bottom: 5px solid var(--primary);
}

header p {
    margin: 3rem 0 3rem;
    font-size: 2rem;
}

form input {
    padding: 12px;
    width: 50%;
    font-size: 2.2rem;
    border-radius: 12px;
}

.btn {
    color: var(--tertiary);
    display: inline-block;
    padding: 15px 15px;
    background: var(--secondary);
    font-size: 2.2rem;
    border-radius: 12px;
    position: left;
}

.hide {
    display: none;
}